/** MOBILE MENU **/
/* 
@media screen and (max-height: 767px) {
    .overlay a {
        font-size: 20px
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
} */

@media (min-width: 768px) {
    #menu-default {
        display: block;
    }

    .mobile-brand {
        display: none;
    }

    #mobile-hamburger {
        display: none;
    }

    .overlay {
        display: none !important;
    }
}

@media (max-width: 767px) {

    .overlay {
        height: 100%;
        width: 100%;
        display: none;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #252b46e6;
        /* background-color: rgba(0, 0, 0, 0.9); */
    }

    .overlay-content {
        position: relative;
        top: 65px;
        width: 80%;
        text-align: center;
        margin: auto;
        margin-top: 30px;
    }

    .overlay .closebtn {
        position: absolute;
        top: 15px;
        right: 45px;
        font-size: 30px;
    }

    .overlay a {
        padding: 8px;
        text-decoration: none;
        text-transform: uppercase;
        color: #ffffff;
        display: block;
        transition: 0.3s;
    }

    .overlay-content a {
        border-top: 1px solid #9194a170;
        font-size: 20px;
        letter-spacing: 3px;
    }



    .overlay a:hover, .overlay a:focus {
        color: #f1f1f1;
    }

    #menu-default {
        display: none;
    }

    #closebtn {
        top: 0px;
        width: 50%;
        text-align: right;
    }

    #mobile-hamburger {
        margin-top: 20px;
    }

    #mobile-hamburger li span {
        font-size: 30px;
    }

    #overlay-brand {
        width: 150px;
        position: absolute;
        top: 16px;
        left: 45px;
    }


}

/** END MOBILE MENU **/